<h1>Sites</h1>
<!-- our selector for country district and sector -->
<div class="container">
  <oaf-location-navigation></oaf-location-navigation>
</div>

<!-- our search bar -->
<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" name="searchInput" autofocus [(ngModel)]="searchInput" class="  search-query form-control" placeholder="Enter a Group Name, Site,Active status (ex. Active, Inactive), or FirstSeason">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- our sites application table for displaying sites -->


<table class="table" id="tableSector" bgcolor="rgb(255, 255, 255)">
  <oaf-add-new-site></oaf-add-new-site>

    <thead>
      <tr>
        <th class="col-sm-4">Name
          <span style="color: red"> *</span>
        </th>
        <th class="col-sm-4">Active</th>
        <th class="col-sm-4">SiteProjectCode</th>
        <th class="col-sm-4">Sector
          <span style="color: red"> *</span>
        </th>
        <th>First Season
          <span style="color: red"> *</span>
        </th>
      </tr>
    </thead>

  <!-- <oaf-add-new-site></oaf-add-new-site> -->
  <tbody>
    <tr *ngFor="let site of sites" (click)="selectCountry(CountryId)" [ngClass]="{'': CountryId === selectedCountry}" bgcolor="white">
      <td>
        <input class="form-control" type="text" value="{{site.Name}}" required placeholder="Please enter a Name..." style="width:170px"
        />
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="site.Active" required ng-true-value="1" ng-false-value="0" ng-true-value="1" ng-false-value="0"
        />
      </td>
      <td>
        <input class="form-control" type="text" value="{{site.SiteProjectCode}}" required placeholder="Please enter a Name..." style="width:170px"
        />
      </td>
      <td>
        <input class="form-control" type="text" value="{{site.Sector}}" required placeholder="Please enter a Name..." style="width:170px"
        />
      </td>
      <td>
        <input class="form-control" type="text" value="{{site.FirstSeason}}" required placeholder="Please enter a Name..." style="width:170px"
        />
      </td>
    </tr>
  </tbody>

</table>
<div ul class="pagination pagination-sm" *ngIf="pageCount">
  <span>
    <a class="btn btn-default" (click)="pageDown()">&lt;</a>{{currentPage}}/{{pageCount}}
    <a class="btn btn-default" (click)="pageUp()">&gt;</a>
  </span>
</div>
