<form>
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Please enter a Name...">
      </div>
      <div class="checkbox">
            <input type="checkbox">
        </div>

      <div class="form-group">

          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="SiteProjectCode">
        </div>
        <div class="form-group">

          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

</form>
