<div class="row">

  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Please enter a Name...">
  </div>

  <div class="col-xs-3">
    <input type="checkbox" class="" placeholder="">
  </div>

  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Please select a Site...">
  </div>

  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Please select a Season">
  </div>

</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Group</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this group?
      </div>
      <div class="modal-footer">
        <button class='btn btn-default' (click)="deleteModal.hide()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDeleteGroup()">Delete</button>
      </div>
    </div>
  </div>
