<!--<div class="container">
  <oaf-groups-list></oaf-groups-list>
</div> -->

<div class="container">
  <li><a routerLink="/" routerLinkActive="active">Groups</a></li>
</div>

<div class="container">
  <!-- identify areas where child views can be loaded depending on routing -->
  <router-outlet></router-outlet>
</div>
