<div class="form-group">
  <div class="col-sm-12">
    <div class="row">

      <div class="col-md-3">

        <label class="col-sm-3 control-label">Country:</label>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="selectedCountryId" (change)="getDistricts()" name="country">
            <option value="" disabled>-- Choose a Country --</option>
            <option *ngFor="let country of countries" [ngValue]="country.CountryId">
              <oaf-country-navigation-selection [country]="country" [selectedCountry]="selectedCountry" (click)="onSelectCountry(country)"></oaf-country-navigation-selection>
          </select>
        </div>

      </div>

      <div class="col-md-3">
        <label class="col-md-3 control-label">District:</label>
        <div class="col-sm-9">
          <select class="form-control" name="district" [(ngModel)]="selectedDistrictId" (change)="getSectors(); getSeasons(); getDistrictGroups()" style="width:200px">
            <option value="" disabled>Choose a District</option>
            <option *ngFor="let district of districts" [ngValue]="district.DistrictId">
              <oaf-district-navigation-selection [district]="district" [selectedDistrict]="selectedDistrict" (click)="onSelectDistrict(district)"></oaf-district-navigation-selection>
          </select>
        </div>
      </div>


      <div class="col-md-3">
        <label class="col-md-3 control-label">Season:</label>
        <div class="col-sm-9">
          <select class="form-control" name="season" ngModel style="width:200px">
            <option value="" disabled>Choose a Season</option>
            <option *ngFor="let season of seasons" [ngValue]="season" (ngModelChange)="getDistricts()">
              <oaf-season-navigation-selection [season]="season" [selectedSeason]="selectedSeason" (click)="onSelectSeason(season)"></oaf-season-navigation-selection>
          </select>
        </div>
      </div>
    </div>

  </div>
</div>
