<h1>Groups</h1>
<!-- our selector for country district and sector -->
<div class="container">
  <oaf-location-navigation></oaf-location-navigation>
</div>

<!-- our search bar -->
<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" name="searchInput" autofocus [(ngModel)]="searchInput" class="  search-query form-control" placeholder="Enter a Group Name, Site,Active status (ex. Active, Inactive), or FirstSeason">
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- our sites application table for displaying sites -->
<div class="row">
    <div class="col-xs-3">
    <label for="name">Name<span style="color: red"> *</span></label>

  </div>
  <div class="col-xs-3">
    <label for="active">Active</label>

  </div>
  <div class="col-xs-3">
    <label>Site<span style="color: red"> *</span></label>
  </div>

  <div class="col-xs-3">
      <label>First Season</label>
    </div>

</div>

<oaf-add-new-group></oaf-add-new-group>



<div class="row" *ngFor="let group of groups">
    <div class="col-xs-3">
        <input type="text" class="form-control" name="Name" [(ngModel)]="group.Name" required placeholder="Please enter a Name...">

  </div>
  <div class="col-xs-3">
      <input type="checkbox" class="" [(ngModel)]="group.Active" required ng-true-value="1" ng-false-value="0" >

  </div>
  <div class="col-xs-3">
      <select class="form-control">
          <option *ngFor="let site of sites" [selected]= "group.SiteId == site.SiteId" [ngValue]="site.SiteId">
              {{site.Name}}
          </option>
        </select>
  </div>

  <div class="col-xs-3">
    <select class="form-control">
      <option value="0">Please select a Season...</option>
      <option *ngFor="let season of seasons" [selected]= "group.FirstSeason == season.SeasonId" [ngValue]="season.SeasonId">
          {{season.SeasonName}}
      </option>
    </select>
    </div>
</div>

<div ul class="pagination pagination-sm" *ngIf="pageCount">
  <span>
    <a class="btn btn-default" (click)="pageDown()">&lt;</a>{{currentPage}}/{{pageCount}}
    <a class="btn btn-default" (click)="pageUp()">&gt;</a>
  </span>
</div>
