<div class="row">
    <div class="col-xs-2">
    <label for="email">Email address:</label>

  </div>
  <div class="col-xs-3">
    <label for="pwd">Password:</label>

  </div>
  <div class="col-xs-4">
    <label><input type="checkbox"> Remember me</label>
  </div>

</div>


<form class="form-inline">
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Please enter a Name...">
      </div>
      <div class="checkbox">
            <input type="checkbox">
        </div>

      <div class="form-group">

          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="SiteProjectCode">
        </div>
        <div class="form-group">

          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">

            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

</form>

<div class="row">
    <div class="col-xs-2">
      <input type="text" class="form-control" placeholder=".col-xs-2">
    </div>
    <div class="col-xs-3">
      <input type="text" class="form-control" placeholder=".col-xs-3">
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder=".col-xs-4">
    </div>
  </div>

